**/.DS_Store
/node_modules
/public/hot
/public/storage
/public/data
/public/fonts
/public/images
/public/storage
/public/js
/public/css
/public/vendors
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.stats.json
.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose-dev.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
