.badge-h-min-3 {
  background-color: #fbc02d;
}

.badge-h-min-1 {
  background-color: #e64a19;
}

.badge-h-min-0 {
  background-color: #d32f2f;
}

.badge-h-plus-1 {
  background-color: #7f0000;
}

.badge-h-min-3 {
  color: #000;
}

.badge-h-min-1,
.badge-h-min-0,
.badge-h-plus-1 {
  color: #fff;
}
